.main{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: center;
    background: #8ee4af;
}

.title {
    font-size: 50px;
    color: rgb(18, 194, 12);
}

h1, 
h3,
h4,
.img-container {
    text-align: center;
}

.card{
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    background: #5cdb95;
    border-radius: 20px;
}

.border{
    border-radius: 25px;
    background: #8ee4af;
    margin: 5px;
    padding: 5px;
    border: 1px solid #00ff80;
}

.border:hover{
    background: #1ac768;
}

.start{
    margin: auto;
    width: 10%;
    padding: 10px;
    
}
.returnhome{
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin: auto;
    background:#359900   
}

.backlink {
    color: #FFFFFF;
    text-decoration: none;
}

.returnhome:hover {
    color: #FFFFFF;
    background-color: #005e08;
    text-decoration: none;
}