.main{
    font-family: 'Open Sans', sans-serif;
    font-size: large;
    text-align: center;
    background: #8ee4af;
}

.title {
    font-size: 50px;
    color: rgb(18, 194, 12);
}

h1, 
h3,
h4,
.img-container {
    text-align: center;
}

.card{
    width: 400px;
    height: auto;
    padding: 10px;
    margin: 10px auto;
    background: #5cdb95;
    border-radius: 20px;
}

.border{
    border-radius: 25px;
    background: #8ee4af;
    margin: 5px;
    padding: 5px;
    border: 1px solid #00ff80;
}

.border:hover{
    background: #1ac768;
}

.start{
    margin: auto;
    width: 10%;
    padding: 10px;
    
}
.returnhome{
    text-align: center;
    padding: 5px;
    border-radius: 20px;
    margin: auto;
    background:#359900   
}

.backlink {
    color: #FFFFFF;
    text-decoration: none;
}

.returnhome:hover {
    color: #FFFFFF;
    background-color: #005e08;
    text-decoration: none;
}

.dropbutton{
    background-color: #1ac768;
    border-radius: 20px;
    color:white;
    padding: 15px;
}

.dropdown {
    position: absolute;
    right: 10px;
    top: 10px;
  }
  
.dropcontent{
    display: none;
    position: absolute;
    background-color: #292727;
    border-radius: 20px;
    min-width: 100px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index:1;
}

.dropcontent a {
    border-radius: 20px;
    color: rgb(252, 252, 252);
    padding: 5px;
    font-size: 20px;
    text-decoration: none;
    display: block;
  }

.dropcontent a:hover {background-color: rgb(17, 16, 16);}
.dropdown:hover .dropcontent {display: block;}
.dropdown:hover .dropbutton {background-color: #3e8e41;}


.git-image{
    vertical-align: bottom;
}

.git-image:hover{
    opacity: 0.6;
}